<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <main><a href="http://olado.github.io/doT/index.html">doT.js</a>, The fastest + concise javascript template engine for Node.js and browsers.</main>
    <div>Hi {{=it.name}}!</div>
    <div>{{=it.age || ''}}</div>
  </body>
</html>
